.pc-manager-header {
    width: 100%;
    margin-top: 0;
  }
  .header {
    background-color: #f1f5f9;
    color: black;
    padding: 20px 0;
    font-family: 'Inter var';
    font-display: swap;
    font-style: normal;
  }

  .header h1 {
    font-size: 38px;
    padding-left: 20px;
    font-weight: 850;
    letter-spacing: -1px;
    
  }
  .header h2 {
    font-size: 15px;
    padding-left: 23px;
    padding-top: 10px;
    color: rgba(100, 97, 97, 0.907);
  }

@media (min-width: 1024px) {
    .pc-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, auto));
        grid-auto-rows: 160px;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }

    .pc-card {
        width: 270px;
        height: 160px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: white;
        padding: 15px;
        position: relative;
        transition: all 0.3s ease;
    }

    .pc-card button p {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1023px) {
    .pc-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-content: center;
    }


    .pc-card {
        width: 90%;
        height: 160px;
        margin-left: 5%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: white;
        padding: 15px;
        position: relative;
    }
}

.pc-card:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pc-name {
    border-radius: 5px;
    background-color: #dbdbdb;
    width: 60%;
    padding: 2px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.pc-icon {
    background-image: url('../../../../../assets/icons/desktop.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.pc-under-line {
    width: 100%;
    height: 1px;
    border-color: #dbdbdb;
    margin: 5px auto;
    margin-bottom: 10px;
} 

.pc-add-employee {
    background-image: url('../../../../../assets/icons/plus.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;

}

.pc-bold-text {
    font-weight: bold;
}

.pc-avatar {
    background-image: url('../../../../../assets/images/avatars/male-14.jpg');
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.pc-status {
    background-image: url('../../../../../assets/icons/red-cross.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
}
